.wrapper__social-icons ul li a svg {
	fill: white;
}

.wrapper__social-icons li a {
	margin: 20px;
}

.wrapper__social-icons li a:last-child {
	margin-bottom: 0px;

}


.card {
	--background: linear-gradient(to left, #f7ba2b 0%, #ea5358 100%);
	padding: 5px;
	border-radius: 1rem;
	overflow: visible;
	background: #f7ba2b;
	background: var(--background);
	position: relative;
	z-index: 1;
}

.card::after {
	position: absolute;
	content: "";
	top: 30px;
	left: 0;
	right: 0;
	z-index: -1;
	height: 100%;
	width: 100%;
	transform: scale(0.8);
	filter: blur(25px);
	background: #f7ba2b;
	background: var(--background);
	transition: opacity .5s;
}

.card-info {
	--color: #181818;
	background: var(--color);
	color: var(--color);
	align-items: center;
	height: 100%;
	overflow: visible;
	border-radius: .7rem;
}

.card .title {
	font-weight: bold;
	letter-spacing: .1em;
}

/*Hover*/
.card:hover::after {
	opacity: 0;
}

.card:hover .card-info {
	color: #f7ba2b;
	transition: color 1s;
}

button {
	/* Variables */
	--button_radius: 0.75em;
	--button_color: #59c378;
	--button_outline_color: #000000;
	font-size: 17px;
	font-weight: bold;
	border: none;
	border-radius: var(--button_radius);
	background: var(--button_outline_color);
}

.button_top p {
	color: white;
}

.button_top {
	display: block;
	box-sizing: border-box;
	border: 2px solid var(--button_outline_color);
	border-radius: var(--button_radius);
	padding: 0.75em 1.5em;
	background: var(--button_color);
	color: var(--button_outline_color);
	transform: translateY(-0.2em);
	transition: transform 0.1s ease;
	border-radius: 10px;
}

button:hover .button_top {
	transform: translateY(-0.33em);
}

button:active .button_top {
	transform: translateY(0);
}

/* //button resume */

.buttonDownload {
	display: inline-block;
	position: relative;
	padding: 10px 25px;
	background-color: #59c378;
	color: white;
	font-family: sans-serif;
	text-decoration: none;
	font-size: 0.9em;
	text-align: center;
	text-indent: 15px;
	border: none;
}

.buttonDownload:hover {
	background-color: #59c378;
	color: white;
}

.buttonDownload:before,
.buttonDownload:after {
	content: ' ';
	display: block;
	position: absolute;
	left: 15px;
	top: 52%;
}

.buttonDownload:before {
	width: 10px;
	height: 2px;
	border-style: solid;
	border-width: 0 2px 2px;
}

.buttonDownload:after {
	width: 0;
	height: 0;
	margin-left: 1px;
	margin-top: -7px;
	border-style: solid;
	border-width: 4px 4px 0 4px;
	border-color: transparent;
	border-top-color: inherit;
	animation: downloadArrow 1s linear infinite;
}

.buttonDownload:hover:before {
	border-color: #cdefbd;
}

.buttonDownload:hover:after {
	border-top-color: #cdefbd;
	animation-play-state: running;
}

@keyframes downloadArrow {
	0% {
		margin-top: -7px;
		opacity: 1;
	}

	0.001% {
		margin-top: -15px;
		opacity: 0.4;
	}

	50% {
		opacity: 1;
	}

	100% {
		margin-top: 0;
		opacity: 0.4;
	}
}


.scrollToTopBtn {
	border-radius: 100px;
	font-size: 1.5rem;
	background-color: #806a50;
	color: white;
	border: none;
	cursor: pointer;
	width: 45px;
	height: 45px;
	position: fixed;
	bottom: 50px;
	right: 50px;
	z-index: 9999;
	opacity: 0;
	transform: translateY(100px);
	transition: all 2.5s ease;

}

.showBtn {
	opacity: 1;
	border: 1px solid white;
	transform: translateY(0);
}

.preloader {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: black;
	z-index: 9999;
}

.loading {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 2rem;
	color: #000;
}

.preloader-finish {
	opacity: 0;
	transition: opacity 0.5s ease-out;
}

@keyframes snow {
	0% {
		opacity: 0;
		transform: translateY(0px);
	}

	20% {
		opacity: 1;
	}

	100% {
		opacity: 1;
		transform: translateY(650px);
	}
}

@keyframes astronaut {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}

.box-of-star1,
.box-of-star2,
.box-of-star3,
.box-of-star4 {
	width: 100%;
	position: absolute;
	z-index: 10;
	left: 0;
	top: 0;
	transform: translateY(0px);
	height: 700px;
}

.box-of-star1 {
	animation: snow 5s linear infinite;
}

.box-of-star2 {
	animation: snow 5s -1.64s linear infinite;
}

.box-of-star3 {
	animation: snow 5s -2.30s linear infinite;
}

.box-of-star4 {
	animation: snow 5s -3.30s linear infinite;
}

.star {
	width: 3px;
	height: 3px;
	border-radius: 50%;
	background-color: #FFF;
	position: absolute;
	z-index: 10;
	opacity: 0.7;
}

.star:before {
	content: "";
	width: 6px;
	height: 6px;
	border-radius: 50%;
	background-color: #FFF;
	position: absolute;
	z-index: 10;
	top: 80px;
	left: 70px;
	opacity: .7;
}

.star:after {
	content: "";
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background-color: #FFF;
	position: absolute;
	z-index: 10;
	top: 8px;
	left: 170px;
	opacity: .9;
}

.star-position1 {
	top: 30px;
	left: 20px;
}

.star-position2 {
	top: 110px;
	left: 250px;
}

.star-position3 {
	top: 60px;
	left: 570px;
}

.star-position4 {
	top: 120px;
	left: 900px;
}

.star-position5 {
	top: 20px;
	left: 1120px;
}

.star-position6 {
	top: 90px;
	left: 1280px;
}

.star-position7 {
	top: 30px;
	left: 1480px;
}

.astronaut {
	width: 250px;
	height: 300px;
	position: absolute;
	z-index: 11;
	top: calc(50% - 150px);
	left: calc(50% - 125px);
	animation: astronaut 5s linear infinite;
}

.schoolbag {
	width: 100px;
	height: 150px;
	position: absolute;
	z-index: 1;
	top: calc(50% - 75px);
	left: calc(50% - 50px);
	background-color: #94b7ca;
	border-radius: 50px 50px 0 0 / 30px 30px 0 0;
}

.head {
	width: 97px;
	height: 80px;
	position: absolute;
	z-index: 3;
	background: -webkit-linear-gradient(left, #e3e8eb 0%, #e3e8eb 50%, #fbfdfa 50%, #fbfdfa 100%);
	border-radius: 50%;
	top: 34px;
	left: calc(50% - 47.5px);
}

.head:after {
	content: "";
	width: 60px;
	height: 50px;
	position: absolute;
	top: calc(50% - 25px);
	left: calc(50% - 30px);
	background: -webkit-linear-gradient(top, #15aece 0%, #15aece 50%, #0391bf 50%, #0391bf 100%);
	border-radius: 15px;
}

.head:before {
	content: "";
	width: 12px;
	height: 25px;
	position: absolute;
	top: calc(50% - 12.5px);
	left: -4px;
	background-color: #618095;
	border-radius: 5px;
	box-shadow: 92px 0px 0px #618095;
}

.body {
	width: 85px;
	height: 100px;
	position: absolute;
	z-index: 2;
	background-color: #fffbff;
	border-radius: 40px / 20px;
	top: 105px;
	left: calc(50% - 41px);
	background: -webkit-linear-gradient(left, #e3e8eb 0%, #e3e8eb 50%, #fbfdfa 50%, #fbfdfa 100%);
}

.panel {
	width: 60px;
	height: 40px;
	position: absolute;
	top: 20px;
	left: calc(50% - 30px);
	background-color: #b7cceb;
}

.panel:before {
	content: "";
	width: 30px;
	height: 5px;
	position: absolute;
	top: 9px;
	left: 7px;
	background-color: #fbfdfa;
	box-shadow: 0px 9px 0px #fbfdfa, 0px 18px 0px #fbfdfa;
}

.panel:after {
	content: "";
	width: 8px;
	height: 8px;
	position: absolute;
	top: 9px;
	right: 7px;
	background-color: #fbfdfa;
	border-radius: 50%;
	box-shadow: 0px 14px 0px 2px #fbfdfa;
}

.arm {
	width: 80px;
	height: 30px;
	position: absolute;
	top: 121px;
	z-index: 2;
}

.arm-left {
	left: 30px;
	background-color: #e3e8eb;
	border-radius: 0 0 0 39px;
}

.arm-right {
	right: 30px;
	background-color: #fbfdfa;
	border-radius: 0 0 39px 0;
}

.arm-left:before,
.arm-right:before {
	content: "";
	width: 30px;
	height: 70px;
	position: absolute;
	top: -40px;
}

.arm-left:before {
	border-radius: 50px 50px 0px 120px / 50px 50px 0 110px;
	left: 0;
	background-color: #e3e8eb;
}

.arm-right:before {
	border-radius: 50px 50px 120px 0 / 50px 50px 110px 0;
	right: 0;
	background-color: #fbfdfa;
}

.arm-left:after,
.arm-right:after {
	content: "";
	width: 30px;
	height: 10px;
	position: absolute;
	top: -24px;
}

.arm-left:after {
	background-color: #6e91a4;
	left: 0;
}

.arm-right:after {
	right: 0;
	background-color: #b6d2e0;
}

.leg {
	width: 30px;
	height: 40px;
	position: absolute;
	z-index: 2;
	bottom: 70px;
}

.leg-left {
	left: 76px;
	background-color: #e3e8eb;
	transform: rotate(20deg);
}

.leg-right {
	right: 73px;
	background-color: #fbfdfa;
	transform: rotate(-20deg);
}

.leg-left:before,
.leg-right:before {
	content: "";
	width: 50px;
	height: 25px;
	position: absolute;
	bottom: -26px;
}

.leg-left:before {
	left: -20px;
	background-color: #e3e8eb;
	border-radius: 30px 0 0 0;
	border-bottom: 10px solid #6d96ac;
}

.leg-right:before {
	right: -20px;
	background-color: #fbfdfa;
	border-radius: 0 30px 0 0;
	border-bottom: 10px solid #b0cfe4;
}


/* //Star loader */
.loader {
	--dim: 6rem;
	background-color: #ED8A19;
	width: var(--dim);
	height: var(--dim);
	border-radius: 50%;
	display: grid;
	place-items: center;
	animation: spin_412 5s infinite;
	left: 18px;
	position: relative;
	top: 17px;
}

.loader .loader-svg {
	transform: translateY(-2px) scale(.7);
}

@keyframes spin_412 {
	0% {
		transform: rotate(0) scale(1);
	}

	50% {
		transform: rotate(720deg) scale(1.3);
	}

	100% {
		transform: rotate(0) scale(1);
	}
}


.col {
	padding: 20px;
	border: 1px solid;
	margin-bottom: 10px;
}

/* Duhet me kshyre me i eliminu */
/* border color */
.border-color {
	border: 1px solid #51ac6c !important;
}

.map-form {
	height: 500px;
}

.gelatine {
	animation: gelatine 0.5s infinite;
	animation-delay: 5s;
	animation-iteration-count: 20;

}

@keyframes gelatine {

	from,
	to {
		transform: scale(1, 1);
	}

	60% {
		transform: scale(0.9, 1.1);
	}

	60% {
		transform: scale(1.1, 0.9);
	}

	60% {
		transform: scale(0.95, 1.05);
	}
}

#checkbox {
	display: none;
}

.toggle {
	position: relative;
	width: 40px;
	height: 40px;
	cursor: pointer;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 10px;
	transition-duration: .5s;
	z-index: 9999999999999999999999999;
}

.bars {
	width: 100%;
	height: 4px;
	background-color: #59c378;
	border-radius: 4px;
}

#bar2 {
	transition-duration: .8s;
}

#bar1,
#bar3 {
	width: 70%;
}

#checkbox:checked+.toggle .bars {
	position: absolute;
	transition-duration: .5s;
}

#checkbox:checked+.toggle #bar2 {
	transform: scaleX(0);
	transition-duration: .5s;
}

#checkbox:checked+.toggle #bar1 {
	width: 100%;
	transform: rotate(45deg);
	transition-duration: .5s;
}

#checkbox:checked+.toggle #bar3 {
	width: 100%;
	transform: rotate(-45deg);
	transition-duration: .5s;
}

#checkbox:checked+.toggle {
	transition-duration: .5s;
	transform: rotate(180deg);
}


.mobile-menu {
	display: none;
}

#mobile-menu__hidden {
	display: none;
}

.overlay {
	position: fixed;
	top: 0;
	align-items: center;
	display: flex;
	width: 100%;
	-webkit-box-shadow: 5px 5px 15px 5px #000000;
	box-shadow: 1px 1px 15px 1px #000000;
	z-index: 9999999999999999999999999999999;
	background-color: #19191936;
	backdrop-filter: blur(10px);
	transition: var(--transition);
	filter: none !important;
	pointer-events: auto !important;
	user-select: auto !important;
}


.card {
	overflow: visible;
	width: 190px;
	height: 254px;
}

.content {
	width: 100%;
	height: 100%;
	transform-style: preserve-3d;
	transition: transform 300ms;
	box-shadow: 0px 0px 10px 1px #000000ee;
	border-radius: 5px;
}

.front,
.back {
	background-color: #151515;
	position: absolute;
	width: 100%;
	height: 100%;
	backface-visibility: hidden;
	-webkit-backface-visibility: hidden;
	border-radius: 5px;
	overflow: hidden;
}

.back {
	width: 100%;
	height: 100%;
	justify-content: center;
	display: flex;
	align-items: center;
	overflow: hidden;
}

.back::before {
	position: absolute;
	content: ' ';
	display: block;
	width: 160px;
	height: 160%;
	background: linear-gradient(90deg, transparent, #ff9966, #ff9966, #ff9966, #ff9966, transparent);
	animation: rotation_481 5000ms infinite linear;
}

.back-content {
	position: absolute;
	width: 99%;
	height: 99%;
	background-color: #151515;
	border-radius: 5px;
	color: white;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 30px;
}

.card:hover .content {
	transform: rotateY(180deg);
}

@keyframes rotation_481 {
	0% {
		transform: rotateZ(0deg);
	}

	0% {
		transform: rotateZ(360deg);
	}
}

.front {
	transform: rotateY(180deg);
	color: white;
}

.front .front-content {
	position: absolute;
	width: 100%;
	height: 100%;
	padding: 10px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.front-content .badge {
	background-color: #00000055;
	padding: 2px 10px;
	border-radius: 10px;
	backdrop-filter: blur(2px);
	width: fit-content;
}

.description {
	box-shadow: 0px 0px 10px 5px #00000088;
	width: 100%;
	padding: 10px;
	background-color: #00000099;
	backdrop-filter: blur(5px);
	border-radius: 5px;
}

.title {
	font-size: 11px;
	max-width: 100%;
	display: flex;
	justify-content: space-between;
}

.title p {
	width: 50%;
}

.card-footer {
	color: #ffffff88;
	margin-top: 5px;
	font-size: 8px;
}

.front .img {
	position: absolute;
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
}

.circle {
	width: 90px;
	height: 90px;
	border-radius: 50%;
	background-color: #ffbb66;
	position: relative;
	filter: blur(15px);
	animation: floating 2600ms infinite linear;
}

#bottom {
	background-color: #ff8866;
	left: 50px;
	top: 0px;
	width: 150px;
	height: 150px;
	animation-delay: -800ms;
}

#right {
	background-color: #ff2233;
	left: 160px;
	top: -80px;
	width: 30px;
	height: 30px;
	animation-delay: -1800ms;
}

@keyframes floating {
	0% {
		transform: translateY(0px);
	}

	50% {
		transform: translateY(10px);
	}

	100% {
		transform: translateY(0px);
	}
}


.projects-holder {
	display: flex;
	flex-direction: row-reverse;
}

.projects-holder__img {
	width: 100%;
	height: 100%;
}
.projects-holder__img img{
	width: 100%;
	height: 330px;
	object-fit: fill;
}


.box-content {
	WIDTH: 100%;
	z-index: 112;
	padding: 25px;
	position: relative;
	left: 0px;
	height:230px;
	top: 20px;
	border-radius: 10px;
	box-shadow: 1px 1px 15px 1px #000000;
	background-color: #19191936;
	backdrop-filter: blur(10px);
	transition: var(--transition);
	filter: none !important;
	pointer-events: auto !important;
	user-select: auto !important;
}



.projects__holder-contianer--mod .grid {
	display: flex;
	flex-direction: row-reverse;

}

.projects__holder-contianer--mod .box-content {
	left: -10px;

}

.bg-black\/60 {
	background: none;
}

.contact-form-style {
	padding: 20px;
	border-radius: 10px;
}

.boxes-projects--mod {
	WIDTH: 100%;
	padding: 25px;
	position: relative;
	left: 20px;
	height: 280px;
	top: 20px;
	border-radius: 10px;
	box-shadow: 1px 1px 15px 1px #000000;
	background-color: #19191936;
	backdrop-filter: blur(10px);
	transition: var(--transition);
	filter: none !important;
	pointer-events: auto !important;
	user-select: auto !important;
}

.star-wrap {
	position: relative;
	top: 130px;
}

.boxes-projects--mod {
	color: white;
	background: #282828;
}

.boxes-projects--mod h2 {
	font-weight: 500;
	color: white;

}

.green-color {
	background: #59c378;
	opacity: 0.85;
}

.green-color:hover {
	opacity: 1;
}


.contact-form-style{
	z-index: 20;
}

.map-section{
	z-index: 20;
}

.rounded-color {
	background-color: #59c378;
}

.box__link{

	display: flex;
	justify-content: space-between;
}
.box-content__holder{
	display: flex;
	justify-content: space-between;
}

.chevron-double-down{
	
	display: flex;
	justify-content: center;
	position: relative;
	top: 250px;
}

@keyframes jump {
	0%   {transform: translate3d(0,0,0) scale3d(1,1,1);}
	40%  {transform: translate3d(0,30%,0) scale3d(.7,1.5,1);}
	100% {transform: translate3d(0,100%,0) scale3d(1.5,.7,1);}
  }
  .jump {
	transform-origin: 50% 50%;
	animation: jump .5s linear alternate infinite;
  }


  #menu { 
	display: none; 
  }
  #menu.open { 
	display: block; 
	height: 100%;
	width: 100%;
  }

  #trigger, #menu {
	color: #fff;
	font-weight: bold;
  }
  #trigger {
	display: block;
	padding: 1em;
	text-decoration: none;
	text-transform: uppercase;
  }

  #menu { 
	list-style: none; 
	padding: 0; 
  }

  #menu a {
	color: #fff;
  }
  #checkbox {
	display: none;
  }
  
  .trigger {
	position: relative;
	width: 40px;
	height: 40px;
	cursor: pointer;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 10px;
	transition-duration: .5s;
  }
  
  .bars {
	width: 100%;
	height: 4px;
	background-color: #59c378;
	border-radius: 4px;
  }
  
  #bar2 {
	transition-duration: .8s;
  }
  
  #bar1,#bar3 {
	width: 70%;
  }
  
  #checkbox:checked + .toggle .bars {
	position: absolute;
	transition-duration: .5s;
  }
  
  #checkbox:checked + .toggle #bar2 {
	transform: scaleX(0);
	transition-duration: .5s;
  }
  
  #checkbox:checked + .toggle #bar1 {
	width: 100%;
	transform: rotate(45deg);
	transition-duration: .5s;
  }
  
  #checkbox:checked + .toggle #bar3 {
	width: 100%;
	transform: rotate(-45deg);
	transition-duration: .5s;
  }
  
  #checkbox:checked + .toggle {
	transition-duration: .5s;
	transform: rotate(180deg);
  }

  